* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    font-family: Arial, sans-serif;
    color:white;
    margin: 150px;
    background-image: url(https://images.alphacoders.com/735/735983.jpg);
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
